bin/
obj/
.vs/
.vscode/
.idea/
.appdata/
.dotnet-home/
.localappdata/
.nuget/
TestResults/
coverage/
*.user
*.suo
local.settings.json
*.publishsettings
*.zip
*.nupkg
infra/**/*.tfstate
infra/**/*.tfstate.*
.terraform/
.terraform.lock.hcl
